@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@font-face {
  font-family: Akira;
  src: local("Akira"), url("/Akira.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
