.dashboard-container {
  height: 100vh;
  width: 100%;
  background-image: url("/waterfall.png");
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.pool-title-container {
  margin-top: 30px;
  height: 8vh;
  width: 90%;
  background-color: gray;
  border-radius: 40px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pool-warning {
  height: 11vh;
  width: 90%;
  background-color: black;
  border-radius: 20px;
}

.main-pool-container {
  flex: auto;
  width: 90%;
  background-color: azure;
}

.bottom-nav {
  height: 8vh;
  width: 35%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  .toggle {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .toggle:checked {
    background-color: purple;
    animation: slideOn 0.3s linear forwards;
  }
}

.ball-slider-container {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 40px;
  background-color: black;
  cursor: pointer;

  .ball {
    position: absolute;
    left: 0;
    top: 9%;
    height: 6.5vh;
    width: 6.5vh;
    border-radius: 50px;
    background-color: white;
    margin-left: 4px;
    animation: slideOff 0.3s linear forwards;
  }
}

@keyframes slideOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(75px);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(75px);
  }
  100% {
    transform: translateX(0);
  }
}
