.dashboard-container {
  height: 100vh;
  width: 100%;
  background-image: url("/waterfall.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.pool-title-container {
  margin-top: 30px;
  height: 8vh;
  width: 90%;
  background-color: gray;
  border-radius: 40px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pool-warning {
  height: 11vh;
  width: 90%;
  background-color: black;
  border-radius: 20px;
}

.main-pool-container {
  flex: auto;
  width: 90%;
  background-color: inherit;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .vertical-abs-cams-top {
    position: absolute;
    top: 1.5vh;
  }

  .vertical-abs-cams-bottom {
    position: absolute;
    bottom: 1.5vh;
  }

  .horizontal-abs-cams-left {
    position: absolute;
    left: 6.5vw;
  }
  .horizontal-abs-cams-right {
    position: absolute;
    right: 6.5vw;
  }

  .pool-rectangle {
    width: 80%;
    height: 90%;
    background-color: lightblue;
    border: 8px solid #c1bfbf;

    .grid-design {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .grid-item {
        border: 1px black solid;
      }
    }
  }
}

.bottom-nav {
  height: 8vh;
  width: 35%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.toggle {
  height: 0;
  width: 0;
  visibility: hidden;
}

.slider-container {
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.toggle:checked + .slider-container .ball {
  animation: slideOn 0.4s linear forwards;
}

.ball {
  background-color: white;
  position: absolute;
  top: 9%;
  left: 4%;
  height: 6.5vh;
  width: 6.5vh;
  border-radius: 50vh;
  //   transform: translateX(0);
  animation: slideOff 0.4s linear forwards;
}

@keyframes slideOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(7.9vh);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(7.9vh);
  }
  100% {
    transform: translateX(0);
  }
}
