.loginpage-container {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: transparent;
  z-index: 1;
}

.bg-color {
  position: absolute;
  rotate: 70deg;
  top: -40%;
  left: -50%;
  z-index: -10;
  height: 100vh;
  width: 150vw;
  background-color: rgb(89, 119, 210);
}

.ainat-title {
  width: 100%;
  font-size: 60px;
  font-family: Akira;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  height: 45vh;
  width: 85vw;
  // border: 2px solid black;
  border-radius: 20px;
}

.login-form {
  padding-top: 8vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4vh;

  input {
    height: 6vh;
    width: 80%;
    background-color: inherit;
    border: none;
    border-bottom: 2px black solid;
    font-size: 20px;
  }

  input::placeholder {
    color: black;
  }

  input[type="text" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 8px;
  }

  input:focus {
    outline: none;
  }

  input:active {
    outline: none;
  }

  button {
    height: 4vh;
    width: 80%;
    color: white;
    font-size: 18px;
    border: 2px black solid;
    border-radius: 12px;
    background-color: rgb(35, 56, 159);
  }

  button:active {
    transform: translateY(2px);
  }
}
