.mainpage-container {
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner-container {
    height: 95%;
    width: 95%;
    background-color: #e1dbdb;
    border-radius: 20px;
    gap: 10px;

    .main-navbar {
      height: 6vh;
      margin: 10px;
      font-size: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .services {
      margin: 10px;
      height: 7vh;
      background-color: #f5f5f5;
      border-radius: 15px;
    }

    .pool-a-container {
      height: 35vh;
      margin: 10px;
      display: flex;
      justify-content: space-between;

      .pool-a {
        height: 100%;
        width: 60%;
        border-radius: 20px;
        background-color: #f5f5f5;
      }

      .pool-a-percent {
        height: 65%;
        width: 38%;
        margin-top: 30px;
        border-radius: 20px;
        background-color: #bcbcbc;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }
    }

    .pool-bc-container {
      height: 26vh;
      margin: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 10px;
      gap: 10px;

      .pool-bc {
        background-color: #f5f5f5;
        border-radius: 15px;
      }
    }
  }
}

.circle-percent-1 {
  position: absolute;
  height: 135px;
  width: 135px;
  border-radius: 50%;
  background-color: #f5f5f5;
}

.circle-percent-2 {
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #bcbcbc;
}

.percentage {
  color: white;
  position: absolute;
  font-size: 40px;
}

.pool-a-health {
  position: absolute;
  height: 1vh;
  bottom: 20px;
  color: white;
  font-weight: 700;
  left: 11%;
  width: 100%;
  font-size: 20px;
}

.pool-a {
  .name-container {
    height: 17%;
    width: 100%;
    padding-left: 10px;
    font-size: 40px;
    display: flex;
    align-items: center;
    border-bottom: 2px dotted black;
  }
  .pool-a-body {
    height: 83%;
    width: 100%;
    display: grid;
    grid-template-rows: 50px 50px 50px;
    align-content: center;

    .grid-item {
      height: 80%;
      width: 100%;
      padding-left: 4px;
      font-size: 20px;
    }

    .grid-item-alert:before {
      padding-left: 4px;
      content: "Status: ";
      color: black;
      font-weight: 700;
      font-size: 22px;
    }

    .grid-item-alert:after {
      content: "Alert";
      color: red;
      font-weight: 700;
      font-size: 22px;
    }
  }
}

.pool-bc {
  .name-container {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 30px;
    border-bottom: 2px dotted black;
  }

  .pool-bc-body {
    height: 83%;
    width: 100%;
    display: grid;
    grid-template-rows: 30px 30px 30px;
    align-content: center;
    gap: 4px;

    .grid-item {
      height: 80%;
      width: 100%;
      padding-left: 4px;
      font-size: 15px;
    }

    .grid-item-alert:before {
      padding-left: 4px;
      content: "Status: ";
      color: black;
      font-weight: 700;
      font-size: 22px;
    }

    .grid-item-alert:after {
      content: "Healthy";
      color: black;
      font-weight: 700;
      font-size: 22px;
    }
  }
}
