.pool-card {
  width: 300px;
  font-family: sans-serif;
  //   height: 400px;
  background-color: #ffebeb;
  padding: 16px;
  padding-bottom: 32px;
  border-radius: 16px;

  .card-topbar {
    display: flex;
    justify-content: space-between;
  }

  .temp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 34px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 20px;
  }
}

.scale-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 34px;
}

.scale-pic {
  display: flex;
  align-items: center;
  .small {
    height: 20px;
    width: 1px;
    background-color: black;
  }

  .big {
    height: 30px;
    width: 1px;
    background-color: black;
    margin: 0 8px;
  }

  .bigger {
    height: 40px;
    width: 1px;
    background-color: black;
    margin: 0 8px;
    position: relative;

    &::after {
      content: "24";
      position: absolute;
      top: 100%;
      left: 0;
      translate: -50% 0;
    }
  }

  .dim {
    font-size: 14px;
    color: rgb(81, 81, 81);
  }
}
